<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Przedmiot magazynowy</mat-card-title>
    <mat-card-subtitle>Dodawanie / Edycja</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <section class="form-section">
      <form>
        <div class="form-row">
          <mat-form-field class="half-width">
            <mat-select placeholder="Produkt" [(ngModel)]="warehouseItem.product.id" name="product">
              <mat-option *ngFor="let product of productsDict" [value]="product.id">
                {{product.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field class="half-width">
            <input [(ngModel)]="warehouseItem.price" name="price" matInput placeholder="Cena produktu">
          </mat-form-field>
          <mat-form-field class="half-width">
            <input [(ngModel)]="warehouseItem.quantity" name="quantity" matInput placeholder="Ilość w magazynie">
          </mat-form-field>
        </div>
      </form>
    </section>
  </mat-card-content>
  <mat-card-actions>
    <div class="button-row">
      <button (click)="back()" mat-flat-button color="accent">Wróć</button>
      <button (click)="saveWarehouseItem()" mat-flat-button color="primary">Zapisz</button>
    </div>
  </mat-card-actions>
</mat-card>
